.App {
  text-align: center;
  overflow-y: auto;
}

.App-header {
  background-color: #2d4441;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Стили для ровного центрированного отображения основных элементов*/
.block {
    display: inline-block;
}
.m-auto {
  margin: 0 auto;
  width: 90%;
}

.write-product::placeholder {
  opacity: 50%;
}


form {
  margin-bottom: 20px;
}

#search-button, #Info {
  font-size: calc(10px + 2vmin); /* Установите желаемый размер шрифта кнопки здесь */
  font-family: 'Roboto' monospace; 
  color: rgb(218, 225, 230);
}