.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Cтили для поля ввода */
.put-food::placeholder {
  color: rgba(255, 255, 255);
}

.put-food,
.food-item {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 16px 32px;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -3.8;
  color: #ffffff;

}

.put-food {
  margin-top: 48px;
  width: 50%;
  height: 72px;
  outline: none;
  border-radius: 64px;
  border-color: #ffffff;
}


/* Стили для таблички расчёта БЖУ */
table {
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  width: 50%;
  letter-spacing: -3.8;
  border-color:rgb(255, 255, 255);
}

th {
  background: rgba(255, 255, 255, 0.2);
  color: rgb(175, 182, 187);
  padding: 10px 20px;
  text-align: center;
}
  
  
td {
  background: rgba(12, 83, 52, 0.225);
  padding: 10px 20px;
}
  


/* Стили для ровного центрированного отображения основных элементов*/
.block {
    display: inline-block;
}
.m-auto {
  margin: 0 auto;
}