/* Стили для таблички расчёта БЖУ */
table {
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto' monospace;
    /*font-size: 32px;*/
    font-size: calc(10px + 4vmin);
    width: 50%;
    letter-spacing: -3.8;
    border-color:rgb(255, 255, 255);
  }
  
  th {
    background: rgba(255, 255, 255, 0.219);
    color: rgb(211, 218, 219);
    padding: 10px 20px;
    text-align: center;
  }
    
    
  td {
    background: rgba(65, 109, 89, 0.356);
    padding: 10px 20px;
  }
  

